body {
	background: #d6cccc;
	margin-left: 120px;
	margin-right: 300px;
}

header {
	margin-top: 70px;
}

h1 {
	color: #050100;
	font-family: fantasy, MedievalShart;
	font-size: 24;
}

h2 {
	font-family: fantasy;
}

footer {
	margin-bottom: 30px;
}

p {
	font-family: MedievalShart;
	font-size: 18;
}

.img_padrao {
	margin-bottom: 30px;
	width: 250px;
}

.logo {
	width: 30px;
}
